.container {
	height: 40px;
	width: 100%;
	background-color: rgb(30, 30, 30);
	position: fixed;
	padding: 10px;
	font-size: 10pt;
}
.icon {
	color: white;
	float: left;
}
.menu {
	color: white;
	float: right;
}
